<h1>Borrower funds for your investment opportunity!</h1>

<h2>Ready to Fix and Flip or Buy and Hold?</h2>
<p>If you have a great investment property under contract and need the funds to secure it, you've come to the right place. We will match your property with a select Private Money Lender in no time flat! And the best part-- No upfront application fees are required!<p> 

<p>Our select, private money lenders are chomping at the bit to see your investment opportunity! To get started, just fill out this quick and easy 1 page application and we'll be on the way to getting your deal matched with the perfect private money lender. After reviewing your application, we'll contact you for further information. You're about to realize your real estate dreams without any of the funding headaches!</p>

<p>Your deal will be presented to both Lion MGT Lenders and Private Money Exchange Lenders(<%= link_to "PME borrower Terms for more information", "http://pcutting.privatemoneypipeline.com/terms.html", :target => "new" %>).</p>

<div class="borrower_form">
  <%= render 'form' %>
</div>


