<h1>Need help with your Foreclosure or preforeclosure?</h1>

<p>Foreclosure and preforeclosure is a terrible experience that many americans are going through because of a poor economy and preditory lending practices.  Many banks don't even treat you like a person and when you are trying to work it out you can spend days on hold, being bounced around and finally flat out ignored and required to left voice messages that will never be heard.</p>

<p>We may be able to help you avoid bankruptcy and save as much of your credit as posible. <em>Bankruptcy will often not solve your problem and make your life more difficult and do incredible damage to your credit.</em>  Watch out for attornies because after all, they make money by spending hours working over your problems and you can often end up with a bigger problem then when you started.  When we talk, I'll recommend a few good ones.  Even if you do go through the foreclosure process there are tax concequenses that you want to be prepared for and I know attornies that might be able to help you avoid those.  That being said, you should know if bankruptcy is really the solution for you.</p>

<p><em>We might be able to keep you in your home!</em>  You may or may not be interested in staying in your home. We can come up with a solution that helps meet your goals</p>

