

<h3>How Many of These “Rental House Nightmares” Have Happened to You?</h3>

<ul>
<li>Late Rent Checks</li>
<li>Rent Checks That Bounce</li>
<li>Property Needs Constant Maintenance</li>
<li>Tenants Tear Up Your Property!</li>
<li>Ineffective Property Management Companies and Ridiculously High Repair Bills</li>
</ul>

<p>Maybe you’re tired of tenant hassles and have already decided to sell… or, 
maybe you’re still looking for that perfect tenant. Either way, this letter 
will give you some priceless hints … plus save you thousands of 
dollars and massive amounts of frustration!</p>


<p>My name is Phil Cutting and our company leases and purchases a lot of rent
 houses in the Columbus area every year from fed-up landlords. If you’re tired
  of tenants and management hassles, consider this great service!</p>

<p>Sooner or later, most landlords get fed up with the hassle of repairs,
 maintenance, and tenant problems. Others who have hired property management
  companies are tired of the aggravation and inflated repair bills.</p>

<p>I’ve talked to 100’s of landlords, and it generally comes down to one
 or more of the reasons discussed in this letter.</p>

<p>First is that you’ve come to hate dealing with tenants. This is particularly
 true if you’re an “accidental landlord”. Maybe you moved to a bigger house, 
 another city, or inherited a property and decided to rent it out (or maybe 
 couldn’t sell it).</p>

<p>You cringe every time your tenants call. It’s either some silly complaint
 or more maintenance! Can’t they fix anything themselves? Or even worse –  
 they don’t call, and the leak under the sink rots out the cabinet and the wall 
 behind it.</p>

<p>Many times the tenants move out you’re left with a lot of deferred maintenance
 that would have been cheap to fix if it was done immediately, but now is a major
  expensive nightmare.</p>

<p>Then there’s the rent. If you’re like most landlords, you could publish a 
book with all the excuses you’ve heard!</p>

<p>Do you live hundreds of miles away…</p>

<p>Do you live hundreds of miles away and can’t afford to fly back and forth 
every time when your tenants move out? Do you have a good handle on repair 
bills? Aren’t they too high?</p>

<p>Expensive, but ineffective Property Management companies…</p>

<p>Sure, you can hire a management company to handle all this – at a pretty 
steep price.  You pay one months rent for commission every time a tenant moves 
out.  Then, you pay 10% every month for management fees.  And if that doesn’t 
tear into your profit enough, repair bills are marked up 20%.</p>

<p>If you’ve decided to sell your rental, it’ll probably need a major cosmetic 
fix up. In reality you’ll be competing with homeowners selling their personal
 residences, so you have to spruce it up to their level. And that is no issue 
 if you are in the fixer-upper business. But if you have to hire contractors 
 to take care of all the deferred maintenance and the fix up, you are looking 
 at thousands of dollars and more headaches.</p>

<p>If you have to do only minor repairs, you can probably do it while the 
tenant is still in there.</p>

<p>Maybe you think you can sell your rental house through a realtor with a 
tenant in it. Not very likely! The realtor has to schedule showings at the 
tenants’ convenience (and it’s never convenient), and the tenants have no 
interest in cleaning the house so it shows well. Realtors hate this kind of 
listing and many won’t be motivated to even show them.</p>

<p>How can you sell your rental without spending a lot of money on repairs 
and on commissions?</p>


<p>Very simple! Just pick up the phone and call us at (614) 358-1944 or even 
easier, fill out the form to the right. I can do a drive-by inspection of the 
house and make you an offer without alerting your tenants.</p>

<p>If you're interested in stopping tenant hassles, and selling your house in the
 easiest way possible, fill out the form to the right or please call my office at 
 (614) 358-1944 as soon as  possible, even easier, fill out the form to the left.. 
 I look forward to hearing from you.</p>
 
<p><em>I forgot to mention this … you will save thousands of dollars by not making payments on a vacant house until your buyer qualifies for the loan! This is a fast way to cash out on your rental house!</em></p>

