
<h2>We specialize in helping people who need to sell their house quickly for a variety of circumstances. Some of the reasons we see most often are:</h2>
<ol>
  <li>Behind on payments or facing foreclosure.</li>
  <li>Recently separated or divorced.</li>
  <li>Transferring jobs or relocating.</li>
  <li>Bought a new property and need to sell the old one first.</li>
  <li>Need to settle an estate.</li>
  <li>Real Estate agent could not sell the house.</li>
  <li>Tired of the headaches of being a landlord.</li>
  <li>House is vacant and costs are piling up.</li>
  <li>House is in need of repairs.</li>
  <li>You just need cash for a project or to pay off debt.</li>
</ul>

<h2>Why choose Lion MGT LLC?</h2>
<ul>
  <li>Guaranteed property sale at competitive, agreed upon price.</li>
  <li>Fast and hassle- free, you will have a offer in 48 hours or less.</li>
  <li>We use private funding or cash so we can close in 7-14 days or less.</li>
  <li>We handle all the paper work and make all the arrangements.</li>
  <li>You get a simple, no hassle closing, with NO cost to you.</li>
  <li>Property purchased 'as-is' with no further expense, clean up,repairs
  or improvements.</li>
  <li>No 6% realtor fee. There are never any fees or commissions.<br/>
  We don't want to list your property; we want to buy it for cash!</li>
  <li>Strictly confidential.</li>
</ul>

