<div class="section">


<%= video_tag ["/videos/We Buy Video Follow Up Report Take 1-1.mp4", "/videos/we_buy_followup.ogv"],"/videos/we_buy_followup.webm"], :autoplay => true, :loop => false, :controls => true, :autobuffer => true %>

</div>
