

@import "imports";



.form_size, .form_width {
  width:$form_width;
}

.hide {
  display:none;
}

.right {  
  float:right; 
  overflow:auto;
}

#contents {
  width:$page_width;
  @include center;
  background:#fff;
  .section {
    margin:10px;
  }
}

.column {
  width:$content_width;
  float:left;
  display:inline;
  
  overflow:auto;
  .youtube {
    
    
    
    display:inline;
    @include center;
    margin:$margin;
  }
  .article {
    @include rounded(30px);
    margin:$margin;
    padding:$padding;
    background:darken($article_background, 10%);
    min-height:10px;
    display:block;
    overflow:auto;
    width:90%;
    input.options {
      display:inline;
      @include center;
      float:left;
      margin:10px;
    }
    
  }
}
  

#footer {
  overflow:auto;
  background:#000;
  color:#fff;
  width:100%;
  min-height:20px;
  .section{ 
    margin:20px;
  }
  a {
    color:#fff;
    text-decoration:none;
    
  }
}

.header {
  overflow:auto;
  .menu {
    background:#9cf;
    height:40px;
    width:$page_width - $margin *2;
    margin:0 0 5px 0;
    padding: 10px;
    color:#fff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    ul {
      @include center;
      margin-bottom:10px;
      margin-top:10px;
      
      li {
        display:inline;
        list-style-type:none;
        padding: 5px 10px;
        margin:0;
        border-right:solid 3px #fff;
        border-left:solid 3px #fff;
        &:first-child {
          border-right:solid 3px #fff;
          border-left:none;
        }
        &:last-child {
          border-left:solid 3px #fff;
          border-right:none;
        }
        a {
          color:#fff;
          text-decoration:none;
        }
      }
    }
  }
  .section {
    overflow:auto;
    .column1 {
      float:left;
      margin:10px;
    }
    .column2 {
      width:600px;
      height: 90px;
      padding:20px 0 0 30px;
      float:left;
    }
    .column3 {
      margin-right:10px;
      margin-top:10px;
      float:right;
      text-align:right;
      font-size:14px;
    }
    .column4 {
      margin-right:10px;
      margin-top:10px;
      float:right;
      
    }
    input {
      width:120px;
      display:inline;
      float:left;
      margin: 0 20px;
    }
  }  
  .row {
    @include center;
    width:100%;
    overflow:auto;
    display:block;
    margin:10px 80px 10px 80px
  }
}

.center { @include center;}

ul.hmenu {
  list-style: none;	
  margin: 0 0 2em;
  padding: 0;
}
ul.hmenu li {
  display: inline;  
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
clear:both;
overflow:hidden;
}

.left {
float:left;
overflow:hidden;
}

.section {
clear:both;
overflow:hidden;
}

.button {
  background:tan; 
  color:blue;
  border:1px solid black;
  text-decoration:none;
  padding:1px; 
  margin:5px;
}



