    <div class="form_size">
      <ul id="lender_topics_list">
        <li>Fill out the Lender Application to tell us the types of properties you're interested in. </li>
        <li>Talk to a Expert Lender Specialist about your personal lending preferences </li>
        <li>Review loan summaries and pick the one you're most comfortable with (we send you emails) </li>
        <li>Once funding request is approved: </li>
        <li>Sign Non-Circumvent Agreement </li>
        <li>Sign Lender Agreement </li>
        <li>Get copy of closing documents </li>
        <li>Approve closing documents </li>
        <li>Get Wiring Funds Directions </li>
        <li>Wire funds to independent closing service </li>
        <li>Private Money Exchange sets up closing </li>
        <li>Sign and fund the deal </li>
        <li>Private Money Exchange posts closing </li>
        <li>FCI collects and sends to you first and last payment </li>
        <li>FCI collects and sends to you ongoing monthly payment </li>
        <li>Sign payoff and reconveyance Earn 8-12 percent! </li>
        <li>Do it again and again and again!</li>
      </ul> 
    </div> 
