<div class="content">
  <div class="section">
    <div class ="column">
      <div class="article">
        <h1>Lend</h1>

        <h2>Want to Join Our Lender Network</h2>

        <p>When a lender comes through Private Money Exchange, we painstakingly ensure that their money is placed in loans that will produce the highest revenue. We only lend on investment opportunities that make financial sense and are backed by real property in first lien position.</p>
         
        <h2>Revew Deals We Package and Underwrite</h2>

        <p>Each loan package is researched, reviewed, assembled and provided to the lender. Lenders can then review multiple loan opportunities until they identify the one that is within their comfort level.</p>

        <p>It is our goal to ensure that monthly interest payments will be received on time, every time, and that the investment funds are returned at the end of the loan term. All monies, from the funding to the borrower's payments, are handled by the nation's premier, independent, third-party servicing company. No funds are ever co-mingled and no payments ever come through Private Money Exchange. Because of this format, we've had incredible success on both the lending and borrowing side of the business!<p>

        <h2>Fill out the Lender Application to tell us the types of properties you're interested in.</h2>
      </div>
    </div>
    <div class="form_column">
      <div class="form" >
        <%= render 'form' %> 
      </div>   
      <div>
        <%= render :partial => "lender_topics" %>
      </div>
    </div>
    

    
  </div> <%# /section %>
</div>



